.lower-header{
    min-height: 70px;
    background: #C2CECC;
    position: relative;
    margin-top: 50px;
  }

.span{
    color: white;
    font-family: bodini;
    padding-top: 10px;
    position: absolute;

}