.lower-header{
    min-height: 20%;
    background: #C2CECC;
    
  }

/* .span{
    color: white;
    font-family: bodini;
    padding-top: 10px;
    position: absolute;

} */
.text1{
    
    margin-top: 5%;
    font-family: bodini;
    font-size: 90%;
    color: white;
    

  }