/* .container-fluid{
    min-height: 30px;
    background: white;
    position: top;
  } */

  .mono-logo {
    width: 60%;
    /* position:relative; */
    
  }
  .text {
    /* position: absolute; */
    padding-top: 15%;
    font-family: bodini;
    font-size: 90%;
    color: black;
  }
  /* .toppy {
    min-height: 15%;
  } */
  /* .span-left {
    text-align: left;
  }
  .span-right {
    text-align: right;
  } */
