/* .container-fluid{
    min-height: 30px;
    background: white;
    position: top;
  } */

  .mono-logo {
    width: 60%;
    
    /* position:relative; */
    
  }
  .text {
    position: relative;
    margin-top: 34px;
    
    font-family: bodoni;
    font-size: 1em;
    color: black;
  }
  /* .toppy {
    min-height: 30px;
  } */
  /* .span-left {
    text-align: left;
  }
  .span-right {
    text-align: right;
  } */
