.lower-header{
    min-height: 26%;
    background: #C2CECC;
    position: relative;
    margin-top: 2%;
    margin-bottom: 1%;
    
  }

.text1{
    
    margin-top: 3%;
    font-family: bodoni;
    font-size: 1em;
    color: white;
    

  }