.lower-header{
    min-height: 26%;
    background: #C2CECC;
    position: relative;
    margin-top: 2%;
    margin-bottom: 1%;
    
  }

/* .span{
    color: white;
    font-family: bodini;
    padding-top: 10px;
    position: absolute;

} */
.text1{
    
    margin-top: 5%;
    font-family: bodoni;
    font-size: 1em;
    color: white;
    

  }